<%= f.simple_fields_for :article_attachments do |a| -%>
  <div class="span4 well" style="margin-right: 10px">
    <%= a.input_field :file_name, disabled: true %><br>
    <%= a.input_field :file, as: :file %>
    <%= a.link_to_remove ' remove', class: 'icon-remove badge'%>
  </div>
<% end -%>
