<% cache article do -%>
  <h2><%= article.subject %></h2>
  <h5><%= like_button(article) %> &nbsp; &nbsp;<span class="badge badge-warning icon-star">&nbsp;<%= pluralize(article.votes.size, '') %> </span></h5>
<% end -%>
