$('.leaderboard').html("<%= j render('users/leaderboard_for_domains', domain: @domain, domains: @domains) %>");
<% if @domain -%>
    $('.domain_id').html("<%= j hidden_field_tag :domain_id, @domain.id %>");
<% else -%>
    $('.domain_id').html("");
<% end -%>
$('.feed').html("<%= j render 'articles/search_results' %>");
$('.welcome_message').html("<%= j render 'users/welcome_message' %>");
