<h1>Listing notifications</h1>
<hr>
<%= link_to 'New Notification', new_notification_path, class: "btn btn-primary" %>
<hr>
<table class="table table-bordered" id="datatables">
  <thead>
    <th>Subject</th>
    <th>Content</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.subject %></td>
        <td><%= notification.content %></td>
        <td><%= notification.active ? 'Active' : 'Inactive' %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

