<div class="offset2 span8">
  <p>
  <b>Subject:</b>
  <%= @notification.subject %>
  </p>

  <p>
  <b>Content:</b>
  <%= @notification.content %>
  </p>

  <div class="form-actions">
    <%= link_to 'Edit', edit_notification_path(@notification), class: "btn" %>
    <%= link_to 'Back', notifications_path, class: "btn" %>
  </div>
</div>
