<table class="table table-bordered">
  <thead>
    <th><h4>Folders</h4></th>
  </thead>
  <tbody>
  <tr><td style="background: #f3f3f3"><%= article_folder_path domain %></td></tr>
    <% domains.each do |domain| -%>
      <% cache domain do -%>
        <tr>
          <td><%= link_to " #{domain.domain_name}", articles_path(domain_id: domain.id), remote: true, class: "ajax_page icon-folder-close icon-large" %></td>
        </tr>
      <% end -%>
    <% end -%>
    <% if domains.empty? -%>
      <tr><td class="muted">No sub-folders available</td></tr>
    <% end -%>
  </tbody>
</table>
