<div class='row-fluid'>
  <%= form_tag articles_path, :method => :get, class: "form-inline", remote: true do %>
    <%= text_field_tag :search, nil, class: "block-level-input span10", placeholder: "Search Articles by subject, folder, tags, files, content or author.." %>
    <%= button_tag "<i class='icon-search'></i> Search".html_safe, class: "btn search_btn ajax_page" %>
    <div class="domain_id">
    </div>
  <% end -%>
</div>
