<div class="row-fluid">
  <div class="span2 profile-stats">
    <%= render 'avatar', user: current_user, size: 'prof' %>
    <hr>
    <div class="leaderboard">
      <%= render 'leaderboard_for_domains', domain: @domain, domains: @domains %>
    </div>
  </div>
  <div class="span8 search-and-feed">
    <%= render 'search_bar' %>
    <hr>
    <div class="row-fluid">
      <div class="welcome_message">
      </div>
      <div class="feed" data-articles_path="<%= articles_path %>">
        <%# render 'articles/search_results' %>
      </div>
    </div>
  </div>
  <div class="span2 create">
    <%= link_to '<i class="icon-pencil"></i> Article'.html_safe, new_article_path, class: "btn btn-block btn-large btn-primary" %>
    <hr>
    <div class="">
      <div class="center">
        <%= render 'user_menu' %>
      </div>
    </div>
  </div>
</div>
