<%= folder_path parent %>
<hr>
  <div class="article_folders">
    <% folders.each do |domain| %>
      <% cache domain do -%>
        <%= link_to "<span class='icon-folder-close icon-large'></span> #{domain.domain_name}(#{domain.children.count})&nbsp;  ".html_safe, list_folders_domain_path(domain), remote: true, class: "loader" %>
      <% end -%>
    <% end -%>
    <% if folders.empty? -%>
      <p class="muted">No sub-folders available</p>
    <% end -%>
  </div>
