<div class='welcome_message span12' style="background-image: url(<%= domain.banner.url(:wide).to_s %>); background-repeat: no-repeat; background-size: contain; ">
  <% unless domain.display_image_only -%>
    <div class="span8">
      <h2><%= domain.domain_name %></h2>
      <p><%= domain.welcome_message %></p>
    </div>
  <% else -%>
    <br><br><br><br><br>
  <% end -%>
</div>
