<h1>Manage Domains</h1>
<hr>
<%= link_to 'New Domain', new_domain_path, class: "btn btn-primary" %>
<hr>

<table class="table table-bordered" id="datatables">
  <thead>
    <th>Domain name</th>
    <th>Folder</th>
    <th></th>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.domain_name %></td>
        <td><%= domain.path.join(" / ") %></td>
        <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


