<h1>Manage Tags</h1>
<hr>
<%= link_to 'New Tag', new_tag_path, class: "btn btn-primary" %>
<hr>

<table class="table" id="datatables">
  <thead>
    <th>Tag name</th>
    <th></th>
  </thead>

<% @tags.each do |tag| %>
  <tbody>
    <tr>
      <td><%= tag.tag_name %></td>
      <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    </tr>
  <tbody>
<% end %>
</table>

<br />

